<% if @show_search_bar %>
<div class="search-container">
  <div class="search-section">
    <div class="form-group has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" name="search_text" class="form-control" placeholder="Search anything you want to buy then press [Enter]">
      <a class="link" href="/?keyword"></a>
    </div>
  </div>
</div>
  <% end %>

<!--search function detect keyword then use Enter to trigger by using JavaScript -->
<script type="text/javascript" data-template="console" nonce="">
    var input = document.querySelector("input[name=\"search_text\"]");
    input.addEventListener("keyup", (event) => {
        if (event.key === "Enter") {
            window.location.href = '/?keyword=' + input.value
        }
    });
</script>

<br>
<div class="list-title">
  <h5>Good Choice!</h5>
  <h5>Our website reviews with an average of 4.8 out of 5 stars <%= (image_tag 'star2.png', size: '32x32')*5 %></h5>
<!--  <i class="fa-solid fa-star"></i>-->

</div>

<div class="row">
  <% @items.each do |item| %>
    <div class="col-md-3">
      <%= render 'card', item: item %>
    </div>
  <% end %>
</div>


