<div class="row">
  <% @items.each do |item| %>
    <%= render 'card', item: item %>
    <% end %>
</div>
<!--      <tr>-->
<!--        <td><%#= link_to 'Show', item %></td>-->
<!--        <td><%#= link_to 'Edit', edit_item_path(item) %></td>-->
<!--        <td><%#= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->


<br>


