// Place all the styles related to the Items controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-right{
  float: right;
}

.card{
  height: 20rem;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-img{
  max-width: 20rem;
  height: 10rem;
}

.show-item-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.show-item-image{
  max-width: 20rem;
}

